body {
font-family: Arial, sans-serif;
font-size: 16px;
color: white;
}
body {
 background-image: url("PatternWeb5.png");
 background-color: #000000;
}
 {
font-family: Arial, sans-serif;
font-size: 16px;
color: white;
}

body {
    overflow-x: hidden;
    /* Optional: Improves font rendering on mobile */
    -webkit-text-size-adjust: 100%; 
}